.app {
  width: 100vw;
  height: 100vh;
  background-color: #cbad90;
  display: grid;
  place-items: center;
}

.app__body {
  width: 94vw;
  height: 94vh;
  background-color: #5d576b;
  border-radius: 5px;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.7);
  display: flex;
}
